{%extends 'base.html' %}
{% load static %}

{% block titulo%} Galeria {% endblock titulo %}

{%block titulo_cabecera%} GALERIA {%endblock titulo_cabecera%}
{%block descripcion%}Observa nuestros mejores momentos{%endblock descripcion%}

{% block contenido%}
<div class="container">
    <div class="row">
        <div class="page-wrapper">
            <div class="ful-img" id="fullImgBox">
                <img src="{% static 'img/1.jpg' %}" id="fullImg" alt="">
                <span onclick="closeImg()">X</span>
            </div>

            <h3><span>Escultores</span></h3>
            <div class="secc-galeria">
                <b><a href="{% url 'galeria' %}">Todas las fotos</a></b>
                <b><a href="{% url 'esculturas' %}">Esculturas</a></b>
                <b><a href="{% url 'escultores' %}">Escultores</a></b>
            </div>
            <div class="img-gallery">                
                <div class="card">
                    <img src="{% static 'img/escultores/02.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>"Presentación de la Obra", <b>Gonzalo Colombo, </b> Corrientes - Argentina</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/escultores/03.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>"Obra en Proceso", <b>Gonzalo Colombo, </b> Corrientes - Argentina</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/escultores/04.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Obra:"Geometría Divina", <b>Gonzalo Colombo, </b> Material: Palo Santo. Corrientes - Argentina</p>
                </div>
                <div class="card">
                 <img src="{% static 'img/escultores/05.jpg' %}" onclick="openFullImg(this.src)" alt="">
                 <p>"Presentación de la Obra", <b> Fabian Nanni, </b> Salta - Argentina</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/escultores/06.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>"Obra en Proceso", <b>Fabian Nanni, </b> Salta-Argentina </p>
                </div>
                <div class="card">
                    <img src="{% static 'img/escultores/07.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Obra: "Raíz de Vida", <b> Fabian Nanni, </b> Material: Marmol Traventino. Salta - Argentina</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/escultores/08.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>"Presentación de la Obra", <b> Carina R. Fabaro, </b> La Rioja - Argentina </p>
                </div>
                <div class="card">
                    <img src="{% static 'img/escultores/09.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>"Obra en Proceso", <b> Carina R. Fabaro, </b> La Rioja - Argentina</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/escultores/10.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>"Obra: Escencia Original", <b> Carina R. Fabaro, Material: Palo Santo </b> La Rioja - Argentina </p>
                </div>
            </div>
            

        </div>
    </div>     
</div>
{% endblock contenido%}