{%extends 'base.html' %}
{% load static %}

{% block titulo%} Galeria {% endblock titulo %}

{%block titulo_cabecera%} FOTOS {%endblock titulo_cabecera%}
{%block descripcion%}Observa nuestros mejores momentos{%endblock descripcion%}

{% block contenido%}
<div class="container">
    <div class="row">
        <div class="page-wrapper">
            <div class="ful-img" id="fullImgBox">
                <img src="{% static 'img/1.jpg' %}" id="fullImg" alt="">
                <span onclick="closeImg()">X</span>
            </div>

            <h3><span>Galería</span></h3>
            <div class="secc-galeria">
                <b><a href="{% url 'galeria' %}">Más Fotos</a></b>
                <b><a href="{% url 'esculturas' %}">Esculturas</a></b>
                <b><a href="{% url 'escultores' %}">Escultores</a></b>
            </div>
            
            <div class="img-gallery">
                <div class="card">
                    <img src="{% static 'img/galeria/artista1.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro Internacional Escultores en el Impenetrable: "Eternidad". Una de las obra de nuestro encuentro. Año: 2022</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/souza.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro Internacional Escultores en el Impenetrable: "Eternidad". La escultora Mónica Souza de Mendoza - Argentina, artista invitada. Año: 2022</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/catallense2022.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro Internacional Escultores en el Impenetrable: "Eternidad". 6º Concurso del Pan Castelense. Internacional. Año: 2022</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/hajnal.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "Instinto". Obra: "Beso sutil". Escultor: Pablo Hajnal, material: Acero Negro. Chaco - Argentina. Año: 2019</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/kike.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "Instinto". Escultor: Kike Yorg con su obra en proceso "Huoqo". Chaco - Argentina. Año: 2019</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/Kucharczuk.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "Instinto". Obra: "Impulso Qom". Escultor: Claudio Kucharczuk, material: Palo Santo. Santa Fe - Argentina. Año: 2019</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/Oplanich.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "Instinto". Escultora: Adriana Oplanich. Chaco - Argentina. Año: 2019</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/izando2019.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "Instinto". Inicio del encuentro, izando la Bandera. Año: 2019</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/juarez.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "Fuerza Natural". Escultor: Juan M Juarez. Año: 2018</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/zhao.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "Fuerza Natural". El Vicepresidente René Bertolucci junto con la escultora Zhao Li de China. Año: 2018</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/piotr1.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "Fuerza Natural". Escultor: Piotr Twardowsky de Polonia junto a su obra en proceso. Año: 2018</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/obelisco2018.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "Fuerza Natural". Año: 2018</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/valdez.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "El Origen". 3º Concurso del Pan Castelense, Presidente Dr. Alfredo Lázara Valdéz, participando. Año: 2017</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/concurso.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "El Origen". 3º Concurso del Pan Castelense, Presidente Dr. Alfredo Lázara Valdéz junto a una concursante. Año: 2017</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/premiospan.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "El Origen". 3º Concurso del Pan Castelense. Año: 2017</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/nanniceramica.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "El Origen". El escultor Fabian Nanni enseñando cerámica. Año: 2017</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/morales.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "El Origen". El escultor Ramón Morales de Venezuela junto a su obra "Ojos de Agua - Water eyes". Año: 2017</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/Carina.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "El Origen". La escultora Carina F. Fabaro junto a su obra. Año: 2017</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/Musante.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "El Origen". Escultor: Mauro Musante. Año: 2017</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/Nanni.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "El Origen". Escultor: Fabian Nanni. Año: 2017</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/Borgo.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "El Origen". Escultor: Dario Borgo. Año: 2017</p>
                </div>            
                <div class="card">
                    <img src="{% static 'img/galeria/demtschenko.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "El Origen". Escultor: Juan M. Demtschenko. Año: 2017</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/bandera2017.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro de Escultores en el Impenetrable: "El Origen". Izando la Bandera. Año: 2017</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/Perez.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro Internacional Escultores en el Impenetrable: "Sonidos del Monte". Escultor: Alejandro Pérez. Año: 2016</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/Nils2016.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Encuentro Internacional Escultores en el Impenetrable: "Sonidos del Monte". Escultor: Nils Hansen - Alemania Año: 2016</p>
                </div>
                <div class="card">
                 <img src="{% static 'img/galeria/encuentro2016.jpg' %}" onclick="openFullImg(this.src)" alt="">
                 <p>Encuentro Internacional Escultores en el Impenetrable: "Sonidos del Monte". Año: 2016</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/unicornio2015.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>3º Encuentro de Escultores del Impenetrable: "Mitos y Leyendas". Obra: Unicornio. Escultora: Ana María Medina. Año: 2015</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/nanni1.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>3º Encuentro de Escultores del Impenetrable: "Mitos y Leyendas". Escultor: Fabian Nanni. Año: 2015</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/alejandro2.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>3º Encuentro de Escultores del Impenetrable: "Mitos y Leyendas". Escultor: Alejandro Percivati. Año: 2015</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/galeria/Yamila2015.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>3º Encuentro de Escultores del Impenetrable: "Mitos y Leyendas". Escultora: Yamila Cartannilica. Año: 2015</p>
                </div>
            </div>
        </div>
    </div>     
</div>
{% endblock contenido%}
