{%extends 'base.html' %}
{% load static %}

{% block titulo%} Galeria {% endblock titulo %}

{%block titulo_cabecera%} GALERIA {%endblock titulo_cabecera%}
{%block descripcion%}Observa nuestros mejores momentos{%endblock descripcion%}

{% block contenido%}
<div class="container">
    <div class="row">
        <div class="page-wrapper">
            <div class="ful-img" id="fullImgBox">
                <img src="{% static 'img/1.jpg' %}" id="fullImg" alt="">
                <span onclick="closeImg()">X</span>
            </div>

            <h3><span>Esculturas</span></h3>
            <div class="secc-galeria">
                <b><a href="{% url 'galeria' %}">Todas las fotos</a></b>
                <b><a href="{% url 'esculturas' %}">Esculturas</a></b>
                <b><a href="{% url 'escultores' %}">Escultores</a></b>
            </div>
            <div class="img-gallery">
               <div class="card">
                    <img src="{% static 'img/esculturas/01.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Obra: "Geometría Divina", <b>Gonzalo Colombo, </b> Material: Palo Santo. Corrientes - Argentina </p>
                </div>
                <div class="card">
                    <img src="{% static 'img/esculturas/02.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Obra: "Raíz de Vida", <b> Fabian Nanni, </b> Material: Marmol Traventino. Salta - Argentina </p>
                </div>
                <div class="card">
                    <img src="{% static 'img/esculturas/03.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Obra: "Escencia Original", <b> Carina R. Fabaro, </b> Material: Palo Santo La Rioja - Argentina </p>
                </div>
                <div class="card">
                    <img src="{% static 'img/esculturas/04.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Obra: "Desde las Estrellas", <b> Dario G. Nuñez,</b> Material: Palo Santo  Misiones - Argentina</p>
                </div>
                <div class="card">
                 <img src="{% static 'img/esculturas/05.jpg' %}" onclick="openFullImg(this.src)" alt="">
                 <p>Obra: "Bhu'o", <b> Oscar Leiva, </b> Material: Palo Santo Impenetrable, Chaco - Argentina</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/esculturas/06.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Obra: "Mitosis", <b> Mauro Musante,</b> Material: Palo Santo  Santa Fe - Argentina</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/7.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Descripcion de la foto</p>
                </div>
                <div class="card">
                    <img src="{% static 'img/8.jpg' %}" onclick="openFullImg(this.src)" alt="">
                    <p>Descripcion de la foto</p>
                </div>
            </div>
            

        </div>
    </div>     
</div>
{% endblock contenido%}