{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}
{%block titulo_cabecera%} NOTICIAS {%endblock titulo_cabecera%}
{%block descripcion%}Enterate de todo lo referido al arte y turismo en el impenetrable{%endblock descripcion%}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="page-wrapper">
            <div class="detalle">
            <h3>{{noticia.titulo}}</h3>
            <img src="{{noticia.imagen.url}}" width="60%">
            
            <p><small> Fecha de publicación: {{noticia.fecha}}</small><br>
            <small> Categoria: {{noticia.categoria_noticia}}</small></p>
            
            <p>{{noticia.cuerpo}}</p>
            <br><br><br>
            <form method="POST" action="{% url 'noticias:comentar' %}">{% csrf_token %}
                <fieldset>
                    <legend><b>Dejanos tu opinion!</b></legend>
                    <textarea name="comentario" maxlength="1500"> </textarea>
                    <input type="text" name="id_noticia" value="{{noticia.pk}}" hidden=""><br>
                    <input type="submit" value="Comentar">
                </fieldset>
            </form>
            <br><br><br>
            <h3>COMENTARIOS</h3>
            {% for com in comentarios %}
            <div class="comentario">
                <p><strong>Usuario:</strong> {{com.usuario}}<br>
                <strong>Comentario:</strong> {{com.texto}}<br>
                <small><strong>Fecha:</strong> {{com.fecha}}</small></p>
            </div>
            {% endfor %}
            <div class="volver">
                <button><a href="{% url 'noticias:listar' %}"><b>VOLVER</b></a></button>
            </div>
         </div>
         </div>
    </div>
</div>
{% endblock contenido %}