{%extends 'base.html' %}
{% load static %}

{% block titulo%} NOTICIAS {% endblock titulo %}


{%block titulo_cabecera%} NOTICIAS {%endblock titulo_cabecera%}
{%block descripcion%}Enterate de todo lo referido al arte y turismo en el impenetrable{%endblock descripcion%}

{% block contenido%}
 <section class="section lb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-custom-build">
                                

                                {% for noti in noticias %}

                                <div class="blog-box wow fadeIn">
                                    <div class="post-media">
                                        <a href=" {% url 'noticias:detalle' noti.pk %} " title="">
                                            <img src="{{noti.imagen.url}}" width="100%">
                                            <div class="hovereffect">
                                                <span></span>
                                            </div>
                                            <!-- end hover -->
                                        </a>
                                    </div>
                                    <!-- end media -->
                                    <div class="blog-meta big-meta text-center">
                                        
                                        <h4><a href=" {% url 'noticias:detalle' noti.pk %} ">{{noti.titulo}}</a></h4>
                                        <p>{{noti.breve}}<br>
                                            <a href=" {% url 'noticias:detalle' noti.pk %} "><button>Ver más</button></a>
                                        </p>

                                        <small><a href="#" title="">Categoria: {{noti.categoria_noticia}}</a></small>
                                        <small><a href="#" title="">fecha: {{noti.fecha}}</a></small>
                                       
                                        
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                  {% endfor %}
          
                            </div>
                        </div>
                    </div><!-- end col -->

                   
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">                            
                             <div class="widget">
                                <h2 class="widget-title">Anuncios</h2>
                                <h3>PROXIMAMENTE</h3>
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <a href="https://www.facebook.com/EscultoresenelImpenetrable/" target="_blank"><img src="{% static 'img/evento2023.jpg' %}" alt="" class="img-fluid"></a>
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->
                                                         
                            <div class="widget">
                                <h2 class="widget-title">Categorias</h2>
                                <div class="link-widget">
                                    <ul>
                                        <li><a href="{% url 'noticias:listar' %}">TODAS</a></li>                                        
                                        {% for cat in categorias %}
                                        <li><a href="?id={{cat.pk}}">{{cat.nombre}}</a></li>
                                        {% endfor %}
                                                                                
                                    </ul>
                                </div><!-- end link-widget -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
{% endblock contenido%}